name: Publish Extension

on:
  push:
    tags:
      - "v*" # launch on any tag that starts with v v1.0.0

jobs:
  build:
    name: Build Server (${{ matrix.target.os }})
    runs-on: ${{ matrix.target.os }}
    strategy:
      matrix:
        target:
          # Linux x64
          - os: ubuntu-latest
            rust-target: x86_64-unknown-linux-gnu
            binary-name: lsp-server-linux-x64
          # Windows x64
          - os: windows-latest
            rust-target: x86_64-pc-windows-msvc
            binary-name: lsp-server-win-x64.exe
          # macOS Intel x64
          - os: macos-latest
            rust-target: x86_64-apple-darwin
            binary-name: lsp-server-macos-x64
          # macOS Apple Silicon
          - os: macos-latest
            rust-target: aarch64-apple-darwin
            binary-name: lsp-server-macos-arm64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target.rust-target }}

      - name: Build Rust Binary
        # build lsp-server binary for each target platform
        run: |
          cd lsp-server
          cargo build --release --target ${{ matrix.target.rust-target }}

      - name: Rename Binary
        # Rename binary to match the target platform and upload it
        run: |
          if [ "${{ matrix.target.os }}" = "windows-latest" ]; then
            mv lsp-server/target/${{ matrix.target.rust-target }}/release/lsp-server.exe ${{ matrix.target.binary-name }}
          else
            mv lsp-server/target/${{ matrix.target.rust-target }}/release/lsp-server ${{ matrix.target.binary-name }}
          fi

      - name: Upload Binary Artifact
        # Upload binary as an artifact for further use in other workflows
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target.binary-name }}
          path: ${{ matrix.target.binary-name }}

  publish:
    name: Publish VS Code Extension
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: lsp-client/package-lock.json

      - name: Download all Artifacts
        uses: actions/download-artifact@v4
        with:
          # Download all files to a directory
          path: compiled-binaries

      - name: Prepare Package
        run: |
          # 1. Move binaries to the client directory
          mkdir -p lsp-client/bin
          cp compiled-binaries/lsp-server-linux-x64/lsp-server-linux-x64 lsp-client/bin/
          cp compiled-binaries/lsp-server-win-x64.exe/lsp-server-win-x64.exe lsp-client/bin/
          cp compiled-binaries/lsp-server-macos-x64/lsp-server-macos-x64 lsp-client/bin/
          cp compiled-binaries/lsp-server-macos-arm64/lsp-server-macos-arm64 lsp-client/bin/

          # 2. Copy the command syntax file to the client directory
          cp lsp-server/command_syntax.json lsp-client/bin/command_syntax.json

          # 3. Install dependencies and compile the client code
          cd lsp-client
          npm ci
          npm run compile-client

      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
          registryUrl: https://marketplace.visualstudio.com
          packagePath: lsp-client # Publishing from the subdirectory of the repository

      - name: Publish to Open VSX Registry
        if: env.OPEN_VSX_TOKEN != ''
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.OPEN_VSX_TOKEN }}
          packagePath: lsp-client # Publishing from the subdirectory of the repository
